---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import AnimatedTitle from '../components/AnimatedTitle.astro';
---

<Layout title="Acerca de Nosotros">
  <header class="w-full h-96 flex items-center justify-center flex-col px-4">
		<AnimatedTitle text="alt+me" />
		<p class="text-center max-w-2xl mx-auto">Explora dentro de tu interior para crear una expresión digital de un alter-ego.</p>

		<p class="text-center max-w-2xl mx-auto text-sm">
			El proyecto combinará <b>narrativa personal</b>, <b>diseño web</b> y
			<b>expresión creativa</b> usando tecnologías web.
		</p>
	</header>
</Layout> 