---
import Layout from '../layouts/Layout.astro';
import PageNavigation from '../components/PageNavigation.astro';
import { Image } from 'astro:assets';
import commits from '../assets/github-commits-by-ideogram.jpeg';
import AnimatedTitle from '../components/AnimatedTitle.astro';
---

<Layout title="Deploy">
	<main class="container mx-auto px-4 py-8">
		<div class="w-full text-center">
			<AnimatedTitle text="DEPLOY"/>
		</div>
		<section class="mb-12">
			<h2 class="text-2xl font-semibold mb-4">Proceso</h2>
			<div class="p-6">
				Documentando, vuelve más tarde.
			</div>
		</section>
	</main>
	<PageNavigation
		prev={{ href: "/alt-me/assets", title: "Assets", image: commits }}
	/>
</Layout>