---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Design">
  <div class="container mx-auto px-6 py-12">
    <h1 class="text-4xl font-bold mb-8">Diseño</h1>
    <ul>
      <Button variant="outline" type="reset">Outline</Button>
      <Button variant="primary" type="reset">Primary</Button>
      <Button variant="secondary" type="reset">Secondary</Button>
      <Button variant="danger" size="sm" type="button">Danger</Button>
    </ul>
  </div>
</Layout>
