---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Bienvenido">
	<div class="mx-auto px-6 py-12 bg-amber-400 h-96">
		<h1 class="text-4xl font-bold mb-8">Bienvenido a mi sitio</h1>
		<p class="text-lg text-gray-600 mb-8">
			Este es un ejemplo de una página usando nuestro layout personalizado con Tailwind CSS.
		</p>
		</div>
	</div>
</Layout>