---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import AnimatedTitle from '../components/AnimatedTitle.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Bienvenido">
	<div class="mx-auto px-6 py-12 bg-amber-400 h-96 text-center">
		<AnimatedTitle text="ALT+ME" />
		<p class="text-lg text-gray-600 mb-8">
			Exploración de una identidad alternativa a través de tecnologías web
		</p>
	</div>
</Layout>