---
import Layout from '../layouts/Layout.astro';
import PageNavigation from '../components/PageNavigation.astro';
import { Image } from 'astro:assets';
import metadata from '../assets/metadata-centro.png';
import astro from '../assets/astro.webp';
---

<Layout title="Styling">
  <main class="container mx-auto px-4 py-8">
    <h1>Styling</h1>
    <!-- Contenido de la página -->
  </main>
  <PageNavigation
    prev={{ href: "/alt-me/metadata", title: "Markup / Metadata", image: metadata }}
    next={{ href: "https://docs.astro.build/es/basics/astro-components/", title: "Components", image: astro }}
  />
</Layout> 