---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white text-black dark:bg-black dark:text-white">
  <div class="container mx-auto px-6 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Company Info -->
      <div class="text-md font-bold">
        <h3 class="">CENTRO | Dise침o, Cine y Televisi칩n</h3>
        <p>Av. Constituyentes 455, CDMX</p>
        <a href="tel:+525527899000" title="Marcar (52)55 2789 9000">(+52)55 2789 9000</a>
      </div>

      <div class="text-center">
        <a href="https://centro.edu.mx/" class="inline-block" target="_blank">
          <img src="/centro-flag-loop.webp" alt="CENTRO Dise침o, Cine, Televisi칩n | Logotipo" class="w-36">
        </a>
      </div>

      <!-- Contact Info -->
      <div>
        <h3 class="sr-only">Contacto</h3>
        <ul class="space-y-2 grid grid-cols-4 flex-wrap">
          <a href="https://instagram.com/centro_U/" title="CENTRO en Instagram" target="_blank">IG</a>
          <a href="https://linkedin.com/school/centro.edu.mx/" title="CENTRO en LinkedIn" target="_blank">LI</a>
          <a href="https://tiktok.com/@centro_diseno_cine_tv?lang=es" title="CENTRO en TikTok" target="_blank">TT</a>
          <a href="https://facebook.com/centro.edu.mx" title="CENTRO en Facebook" target="_blank">FB</a>
          <a href="https://twitter.com/centro_news" title="CENTRO en X" target="_blank">TW</a>
          <a href="https://youtube.com/channel/UC40YNTjmtfGfYOmogaPvXHQ" title="CENTRO en Youtube" target="_blank">YT</a>
          <a href="https://open.spotify.com/show/5zodXwizDTfyAeyjRnV1Ck" title="CENTRO en Spotify" target="_blank">SP</a>
        </ul>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center">
      <p>CENTRO &copy; {currentYear}</p>
    </div>
  </div>
</footer> 