---
import Favicon from "../assets/Favicon.astro";

const { title = "My Astro Website", ...props } = Astro.props;
---
<link rel="sitemap" href="/sitemap-index.xml">
<title>{title}</title>
<meta name="description" content="Welcome to my new Astro site!">

<!-- Web analytics -->
<script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- Open Graph tags -->
<meta property="og:title" content="My Alt Version" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.example.com/" />
<meta property="og:description" content="Exploración de una identidad alternativa a través de tecnologías web." />
<meta property="og:image" content="https://www.example.com/img-metadata.png">
<meta property="og:image:alt" content="">

<Favicon />