---
import NavLink from './NavLink.astro';
import { Image } from 'astro:assets';
import centroLogo from '../assets/centro-logo.svg';
---

<header class="bg-white text-black dark:bg-black dark:text-white">
  <nav class="container mx-auto px-6 py-4">
    <div class="flex items-center text-center justify-between">
      <a
        href="/alt-me/"
        class="inline-block transition-all cursor-pointer hover:scale-105"
      >
        <Image 
          src={centroLogo} 
          alt="CENTRO Diseño, Cine, Televisión | Logotipo" 
        />
      </a>

      <button
        id="open-menu-btn"
        class="z-20 p-2 text-white hover:text-gray-300 transition-all cursor-pointer hover:scale-105"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          >
          </path>
        </svg>
      </button>
    </div>
  </nav>
</header>

<div id="menu" class="fixed inset-0 bg-black bg-opacity-95 z-40 hidden items-center justify-center">
  <button id="close-menu" class="fixed top-0 right-0 px-6 py-4 z-20 p-2 text-white hover:text-gray-300 transition-all cursor-pointer hover:scale-105" aria-label="Close menu">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>

  <menu class="grid grid-rows-3 grid-cols-3 grid-flow-dense auto-rows-fr auto-cols-fr absolute top-0 left-0 w-full h-full uppercase font-bold">
    <a href="/alt-me/rubrica" class="bg-rose-400 hover:bg-rose-600 p-0 m-0 flex items-center justify-center">Rúbrica</a>
    <a href="/alt-me/metadata" class="bg-emerald-400 hover:bg-emerald-600 p-0 m-0 flex items-center justify-center">HTML</a>
    <a href="/alt-me/styling" class="bg-amber-400 hover:bg-amber-600 p-0 m-0 flex items-center justify-center">Styling</a>
    <a href="https://docs.astro.build/es/basics/astro-components/" class="bg-violet-400 hover:bg-violet-600 p-0 m-0 flex items-center justify-center">Componentes</a>
    <a href="/alt-me/markup" class="bg-sky-400 hover:bg-sky-600 p-0 m-0 flex items-center justify-center">Tipografía</a>
    <a href="/alt-me/colores" class="bg-teal-400 hover:bg-teal-600 p-0 m-0 flex items-center justify-center">Colores</a>
    <a href="/alt-me/assets" class="bg-orange-400 hover:bg-orange-600 p-0 m-0 flex items-center justify-center">Assets</a>
    <a href="/alt-me/responsive" class="bg-cyan-400 hover:bg-cyan-600 p-0 m-0 flex items-center justify-center">Responsive</a>
    <a href="/alt-me/deploy" class="bg-purple-400 hover:bg-purple-600 p-0 m-0 flex items-center justify-center">Deploy</a>
  </menu>
</div>

<script>
  const menuToggle = document.getElementById('open-menu-btn');
  const closeMenu = document.getElementById('close-menu');
  const mobileMenu = document.getElementById('menu');

  menuToggle?.addEventListener('click', () => {
    mobileMenu?.classList.remove('hidden');
    document.body.style.overflow = 'hidden';
  });

  closeMenu?.addEventListener('click', () => {
    mobileMenu?.classList.add('hidden');
    document.body.style.overflow = '';
  });
</script>