---
import NavLink from './NavLink.astro';
---

<footer class="bg-white text-black dark:bg-black dark:text-white">
  <nav class="container mx-auto px-6 py-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="flex justify-start">
        <NavLink href="/about" text="Acerca" />
      </div>

      <div class="text-center">
        <a href="/" class="inline-block">
          <img src="/centro-logo.svg" alt="CENTRO Diseño, Cine, Televisión | Logotipo">
        </a>
      </div>

      <div class="flex justify-end">
        <NavLink href="/design" text="Diseño" />
      </div>
    </div>
  </nav>
</header>
